extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href="/new") Add New Message 

  each message, index  in messages
    h2 Message #{index+1}
    ul
      li Text - #{message.text}
      li User - #{message.user}
      li Added -  #{message.added}

